#main-container {
  -fx-background-image: url("../../../assets/main_menu_background.jpg");
}

#start-game-button {
  -fx-background-image: url("../../../assets/mud_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#start-game-button:hover {
  -fx-cursor: hand;
}