#main-container {
  -fx-background-image: url("../../../assets/main_menu_background.jpg");
}

#startGameButton {
  -fx-background-image: url("../../../assets/start_game_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#startGameButton:hover {
  -fx-cursor: hand;
}