#main-container {
  -fx-background-image: url("../../../assets/select_mode_background.jpg");
}

#standard-mode-btn {
  -fx-background-image: url("../../../assets/mud_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#berserker-mode-btn {
  -fx-background-image: url("../../../assets/mud_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#survival-mode-btn {
  -fx-background-image: url("../../../assets/mud_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#confusion-mode-btn {
  -fx-background-image: url("../../../assets/mud_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}